body {
    background-color: #090909;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
/*HEADINGS */
.header--main {
    font-size: 50px;
    color: #fff;
    font-weight: normal
}
.header--secondary {
    font-size: 42px;
    color: #fff;
    font-weight: 300
}

.header--sub-header {
    font-size: 21px;
    color: gray;
    font-weight: 300
}

/*LINKS */
.link--cta {
    color: aquamarine;
    font-size: 16px;
}

/*FOOTER */
.footer--copyright {
    color: gray;
    font-size: 16px;
    text-align: right;
}